img{
  width: 7em;
}

.page-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn:hover{
  font-weight: bold;
}

.navbar-fixed-bottom {
  color: black;
  background-color: grey;
  border-top: grey;
  padding-top: 1em;
}
