img{
  width: 10em;
}

*{
  font-family: 'Raleway', sans-serif;
}

.logo{
  width: 25rem;
}

.page-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:hsl(0, 0%, 99%);
  padding-top: 40px;
  margin-top:0;
}

.btn:hover{
  font-weight: bold;
  text-decoration: none;
}

.navbar-fixed-bottom {
  color: black;
  background-color: hsl(38, 95%, 60%);
  border-top: grey;
  padding-top: 1em;
  min-height: 40px;
}
