*{
  font-family: 'Raleway', sans-serif;
}

.Slogo{
  height:100%;
  padding:;
}

.navbar{
  background-color:hsl(0, 0%, 99%);
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar-collapse{
  text-align: center;
}

.date{
  margin-top: 5rem;
  padding: 2rem;
  color:hsl(208, 56%, 53%);
  border: hsl(208, 56%, 53%) solid 1px;
  border-radius: 3px;
}

.announcement{
  margin-top:20px;
  font-size: 3rem;
}

.tasks ul{
  padding-left: 0;
}

.tasks li{
  list-style:none;
}

.bio{
  background-color: hsl(33, 67%, 83%);
  border-radius: 3px;
  padding: .5rem;
}
.writing{
  background-color: hsl(259, 84%, 90%);
  border-radius: 3px;
  padding: .5rem;
}
.math{
  background-color: hsl(184, 59%, 85%);
  border-radius: 3px;
  padding: .5rem;
}
.phils{
  background-color: hsl(126, 43%, 73%);
  border-radius: 3px;
  padding: .5rem;
}
.psych{
  background-color: hsl(5, 66%, 84%);
  border-radius: 3px;
  padding: .5rem;
}

.alert-danger{
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.tip{
  background-color: hsl(103, 44%, 89%);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.navbar-fixed-bottom{
  margin-top: 20px;
  color: black;
  background-color: hsl(38, 95%, 60%);
  border-top: grey;
  padding-top: .5em;
  min-height: 40px;
}
