*{
  font-family: 'Raleway', sans-serif;
}

.Slogo{
  height:100%;
  padding:;
}

.navbar{
  background-color:hsl(0, 0%, 99%);
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar-collapse{
  text-align: center;
}

.date{
  margin-top: 3rem;
  color:hsl(208, 56%, 53%);
}

.announcement{
  margin-top:20px;
  font-size: 3rem;
}

.tasks ul{
  padding-left: 0;
}

.tasks li{
  list-style:none;
}

.navbar-fixed-bottom {
  color: black;
  background-color: hsl(38, 95%, 60%);
  border-top: grey;
  padding-top: 1em;
}
